
* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}

body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 15px;
}

header h1 {
  font-size: 1em;
  text-transform: uppercase;
}

header nav {
  display: flex;
  align-items: center;
  gap: 2%;
  float: right;
  margin: 0% 0% 0% 17%;
}

header nav a {
  padding: 10px;
  float: right;
  color: rgb(241, 6, 6);
}

header nav a:hover {
  border-bottom: 3px solid #4d05f4;
  color: cadetblue;
}

#about{
  margin-left: 52%;
}

#join-us h3{
  text-align: center;
}

#join-us {
  position: fixed;
  top: 20%;
  width: 10%;
  font-size: medium;
}

#join-us ol{
  margin: 0px 0px 0px 2px;
  line-height: 23px;
  display: grid;
}

#join-us h2{
  color: #1479b3;
  line-height: 23px;
}


main {
  margin: 40px 0;
}

main section {
  margin-bottom: 40px;
}


#about::before{
  content: "";
  background-color: darkcyan;
  position: absolute;
  background: url(99.jpg) no-repeat center center/cover;
  height: 59%;
  top: 15%;
  left: 10%;
  width: 40%;
  right: 40%;
  z-index: -1;
  opacity: 0.89;
}


#projects h1 {
  text-align: center;
  margin: 2px;
  display: block !important;
  padding: 5px;
  width: 95%;
}

#projects {
  justify-content: space-around;
  margin-left: 20% !important;
  margin: 33vh 0px 0px 0px;
  position: relative;
  display: flex;
  grid-auto-columns: 30%;
  flex-wrap: wrap;
  padding: 2px;
}


.Project{
  box-shadow: inset 0 0 10px rgba(0,0,0,.6);
  transition: all .3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.577);
  display: grid;
  /* place-self: stretch; */
  /* gap: 2px; */
  box-shadow: 0 4px 8px 0 rgba(0,  0, 0, 0.2), 0 6px 20px 0 rgba(0,  0,  0, 0.19);
  border: #333 solid thin;
  border-radius: 3%;
  border: 1px solid #ddd;
  flex-basis: 127px;
  margin: 4px;
  padding: 6px;
}


#services  h1 {
  text-align: center;
  margin: 19px 0px;
  display: block;
  padding: 5px;
}

#services{
  margin-left: 20% !important;
  margin: 13px 4px;
  justify-content: space-around;
  height: auto;
}


.service{
  text-align: center!important;
  align-items: center;
  transition: all .3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.577);
  display: content;
  box-shadow: 0 4px 6px 0 rgb(16, 219, 9);
  border: #333 solid thin;
  flex-basis: 199px;
  margin: 14px 0px;
  padding: 6px;
}

.card-body button{
  font-size:18px;
  border-radius:29%;
  display:  inline-block;
  vertical-align: middle;
  color: #fff;
  background-color: rgb(70, 128, 209) ;
  width: 67%;
  padding: 6px;
}


/* a {
  color: #333;
  text-decoration: none;
  text-align: center;
} */


.button:hover {
  background-color: lightblue;
  color: white;
  cursor: pointer;
}

#contact-box {
  bottom: 0px;
}

/* Contact Section */
#join{
  width: 90%;
}
#join h1{
  text-align: center;
  margin: 2px;
  display: block;
  width: 80%;
  float: right;
  padding: 5px;
  margin:  22px;
  font-size: x-large;
}
#join #contact-box {
  float: right;
  width: 50%;
}


#contact-box input,
#contact-box textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

#contact-box form{
  width: 70%;
  float: right;
}

#contact-box label{
  font-family: 'Bree Serif', serif;
  font-size: 1.3rem;
}

#display-google-map{
  position: relative;
  left: 20% !important;
  width: 40% !important;
  float: left;
  height: 75vh !important;
}

footer{
  background: black;
  color: rgb(207, 38, 38);
  text-align: center;
  padding: 0px;
  margin: 0px;
  bottom:  0px;
  height: 22px;
  position: fixed;
  width:  100%;
  opacity: .6;
}